svg.thenmap {
  stroke: white;
  stroke-width: .25px
}
@keyframes loading_data {
  0% {fill-opacity: .25}
  100% {fill-opacity: .75}
}
.loading_data path {
  animation: loading_data 1s linear infinite alternate;
}

svg.thenmap path:hover {
  filter: url("#sepia"); /*Chrome*/
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
}