svg.thenmap {
  stroke: white;
  stroke-width: .5px
}
@keyframes loading_data {
  0% {fill-opacity: .25}
  100% {fill-opacity: .75}
}
.loading_data path {
  animation: loading_data 1s linear infinite alternate;
}

@media screen and (-webkit-min-device-pixel-ratio:0){
	svg.thenmap path:hover {
	  filter: url("#sepia") !important; /*Chrome*/
	}	
}
svg.thenmap path:hover {
  -webkit-filter: sepia(50%);
  filter: sepia(50%);
}